

.chat-container {
  display: flex;
  height: 100vh;
}

.user-list {
  width: 20%;
  background-color: #f0f0f0;
  overflow-y: auto;
  padding: 10px;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.user:hover {
  background-color: #e0e0e0;
}

.user.selected {
  background-color: #d0d0d0;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  padding-left: 1rem;
}

.chat-screen {
  width: 80%;
  display: flex;
  flex-direction: column;
  
}

.chat-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.no-chat-selected {
  color: #b5acac;
  text-align: center;
  margin-top: 20px;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  padding: 10px;
  margin: 5px 0;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.message-input {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.message-input button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}
