.footer {
  padding: 1rem 8rem;
  background: #000;
  color: #fff;
  font-family: sans-serif;
 
  
}

.animal{
  padding-left: 0px;
  font-size: 50px;
  font-weight: bold;
}

.compassion{
  font-size: 20px;
}

.logos{
  padding-right: 15px;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logos:hover {
  color: #01959a;
  transform: scale(1.3);
}
.bottom {
  padding: 1rem 2rem 2rem 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h3 {
  font-size: 1.7rem;
  padding: 1rem 0.7rem 0;
  margin-left: -1.2rem;
}

.bottom a {
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 0.4rem;
  font-size: 1.3rem;
}
.copy {
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 0;
}


  